
.LinkListMain ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.LinkListMain__button-container {
  max-width: 380px;
  margin: 0 10px;
}

.LinkListMain__add-link-button {
  margin: 0 auto 20px;
}
.LinkListMain__add-link-button:hover {
  background-color: #29862e;
  color: white;
}
