
.LinkListNav__list {
  list-style-type: none;
  margin: 130px 0 0;
  padding: 0;
}

.LinkListNav__button-wrapper {
  margin: 0 0 0 auto;
  max-width: 180px;
}

.LinkListNav__add-category-button {
  margin: 20px auto;
}
.LinkListNav__add-category-button:hover {
  background-color: #29862e;
  color: white;
}

.LinkListNav__category-link {
  background-color: #030f1f;
  color: #b5b3b3;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 16px;
  text-decoration: none;
}
.LinkListNav__category-link:hover {
  color: #FFB72F;
  cursor: pointer;
}
.LinkListNav__category-link.active {
  background-color: #102541;
}

.LinkListNav__num-links {
  color: #adadad;
  display: block;
  float: right;
  font-size: 10px;
}
